{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
</head>

<body class="content">
    
    <!--Navigation bar-->
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a href="/home" class="navbar-brand mr-1"><b>Smart Traffic Manager</b></a>

        <ul class="navbar-nav ml-auto">
            <li>
                <a class="btn btn-dark border border-primary" href=" {% url 'SpeedLimitDetection' %} " data-target="">Speed Limit Violation</a>
            </li>
            &nbsp;
            <li>
                <a class="btn btn-dark border border-primary" href="{% url 'LicensePlateDetection' %}" data-target="">Numberplate Detection</a>
            </li>
            &nbsp;            
            <li>
                <a class="btn btn-dark border border-primary" href=" {% url 'LicensePlateOCR' %} " data-target="">Recognise Numberplate</a>
            </li>
            &nbsp;
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="badge badge-danger">Admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href=" {% url 'RegisterNewVehicle' %}">Register new Vehicle</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <!--Navigation side bar-->
    <div class="sidebar bg-dark" id="mySidebar">
        <!--C-->
        <!--C-->
        <a href="" id="home" style="background:whitesmoke;color: black">Pune City</a>
        <a href="#" id="">Katraj</a>
        <a href="" class="active"><b>Swargate</b></a>
        <a href="" id="" class="">Deccan</a>
        <a href="" id="" class="">Shivaji Nagar</a>
    </div>
    <div class="content">
        <div class="alert alert-success fade show" style="height: 120px;" role="alert">
            <div class="contents-title" style="text-align:center; color: black;">
                <strong>Data of Swargate</strong>
                <a class="btn btn-dark border border-primary" href=" {% url 'SendEmail' %} " style="color:white; float: right; margin-top: -5px;">Send Email to all</a>
            </div>
            <hr>
            <div class="violations-counters">
                <span style="margin-inline-start: 0px; color:dodgerblue;">
              <strong>No. of violations Detected : {{ total_violations }}</strong> 
            </span>
                <span style="margin-inline-start: 50px;">
              <strong>No. of violations Resolved : {{ sent_emails }}</strong> 
            </span>
                <span style="margin-inline-start:50px ; color: red;">
              <strong>No. of violations Pending : {{ pending_emails }}</strong> 
            </span>

            </div>
        </div>

        <table class="table table-hover shadow p-3 bg-white rounded" style="border: 2px solid #ddd !important;">
            <thead class="thead-light">
                <tr>
                    <th>License Plate</th>
                    <th>Name of owner</th>
                    <th>Email of owner</th>
                    <th>Time of Violation</th>
                    <th>Email Status</th>
                </tr>
                {% if violators_render %}
                    {% for i in violators_render %}
                    <tr>
                        <td>{{ i.license_plate }}</td> 
                        <td>{{ i.owner_name }}</td> 
                        <td>{{ i.owner_email }}</td> 
                        <td>{{ i.date_time }}</td>
                        {% if i.email_status == 0 %}
                            <td class="pending"><strong> Email Not Sent </strong></td> 
                        {% else %}
                            <td class="resolved"><strong> Email Sent </strong></td> 
                        {% endif%}


                    </tr>
                    {% endfor %}
                {% endif %}

                

            </thead>
        </table>
    </div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>